button {
    /* width: 20px; */
    /* background-color: #202017; */
    color: white;
    padding: 10px 20px;
    border: black;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    border-radius: 50px;
}

button:hover {
    /* background-color: #a06224; */
}

.privacy-link {
    /* background-color: #0056b3; */
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
    padding-top: 30px;
    margin-top: 30px;
}

.privacy-link:hover {
    color: #0056b3;
}
#gapp{
    margin-left: 20px;
    padding-top: 200px;
}